@use "shared/variables.scss" as *;


.title {
  font-weight: 700;
  color: $color-primary;
  text-align: center;
  @include font-32;
}
.productCode {
  font-weight: 500;
  color: $color-primary;
  margin-top: 4px;
  @include font-20;
}
