@use "shared/variables.scss" as *;


.wrapper {
  border-radius: 10px;
  padding: 12px;
  background-color: $color-light;
  overflow: hidden;
}
.topBar {
  margin-bottom: 7px;
}
.bottomBar {
  display: flex;
  align-items: flex-end;
  margin: 0 -10px;
  margin-top: auto;
}
.colBottom {
  padding: 0 10px;
  &.grow {
    flex-grow: 1;
  }
  &.leftOffsetAuto {
    margin-left: auto;
  }
}
.btnWrapper {
  display: flex;
  align-items: center;
  margin: 0 -6px;
}
.btnItem {
  padding: 0 6px;
}
.textInfo {
  color: $color-primary;
  font-weight: 700;
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 2px;
  }
  &.alignRight {
    text-align: right;
  }
  @include font-24;
}
.title {
  color: $color-primary;
  font-weight: 700;
  text-align: left;
  margin-bottom: 8px;
  @include font-24;
}
.article {
  font-weight: 700;
  color: $color-primary;
  display: flex;
  align-items: baseline;
  margin: 0 -18px;
  @include font-16;
}
.articleitem {
  padding: 0 18px;
}
.status {
  font-weight: 700;
  color: $color-sucsess;
  @include font-24;
}
.description {
  font-weight: 700;
  color: $color-common;
  height: 110px;
  overflow: hidden;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  @media (max-width: $width-desktop) {
    height: 96.25px;
  }
  @media (max-width: $width-laptop) {
    height: 82.5px;
  }
  @include font-16;
}
.picture {
  overflow: hidden;
  position: relative;
  padding-top: 132.6%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}
.productData {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
