@use "shared/variables.scss" as *;


.label[class*="MuiFormControlLabel-labelPlacementStart"] {
  display: flex;
  width: 100%;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
  [class*="MuiFormControlLabel-label"]:not(
      [class*="MuiFormControlLabel-labelPlacementStart"]
    ) {
    color: $color-light;
    flex-grow: 1;
    font-weight: 700;
    text-align: left;
    @include font-24;
  }
  [class*="MuiCheckbox-root"] {
    padding: 0;
    margin-left: 10px;
    color: $color-light;
  }
  [class*="Mui-checked"] {
    color: $color-light;
  }
}
