@use "shared/variables.scss" as *;


.prop {
  font-weight: 700;
  text-align: left;
  margin-right: 10px;
  color: $color-light;
  @include font-28;
}
.value {
  font-weight: 700;
  text-align: right;
  color: $color-light;
  @include font-28;
}
